.task-wrapper {
    display: inline-table;
    margin: 10px;
    padding: 5px;
    border: 1px black solid;
    height: 150px;
    width: 400px;
}

.task {
    width: 100%;
    height: 100%;
    span {
        line-height: 20pt;
        text-align: center;
        font-size: 15pt;
        &.task-title {
            font-size: 15pt;
            font-weight: 700;
        }
        &.overdued{
            color: red;
        }
    }
}
