<form (ngSubmit)="updateTask()" [formGroup]="editForm">
  <div class="form-field">
    <label>Title</label>
    <input type="text" formControlName="title" class="form-control"/>
    <span class="alert"
      *ngIf="title.invalid && (title.dirty || title.touched)"
    >Title is required field</span>
  </div>
  <div class="form-field">
    <label>Description</label>
    <input type="text" formControlName="description" class="form-control"/>
  </div>
  <div class="form-field">
    <label>Type</label>
    <input type="text" formControlName="type" class="form-control"
      maxlength="10"
    />
  </div>
  <div class="form-field">
    <label>Due date</label>
    <input type="date" formControlName="dueDate" class="form-control"/>
    <span class="alert"
      *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)"
    >Due date must be today or after</span>
  </div>
  <div class="form-field">
    <label>Status</label>
    <select formControlName="status">
      <option *ngFor="let status of possibleStatus">{{status}}</option>
    </select>
  </div>
  <div>
    <input class="btn" type="submit"/>
  </div>
</form>