<div class="task-wrapper">
    <div class="task">
        <span class="task-title">Title: {{task.title}}</span><br>
        <span *ngIf="task.description">Description: {{task.description}}</span><br *ngIf="task.description">
        <span *ngIf="task.dueDate" [ngClass]="{'overdued':task.isOverdued()}">Due date: {{task.dueDate}}</span><br *ngIf="task.dueDate">
        <span *ngIf="task.status">Status: {{task.status}}</span><br *ngIf="task.status">
        <span *ngIf="task.type">Type: {{task.type}}</span><br *ngIf="task.type">
    </div>
</div>